:root {
    --main-color: #5e0420;
    --alternative-color: #901f3e;
    --secondary-color: #d5cece;
    --terciary-color: #766d6f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 226, 226);
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--secondary-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    border-bottom: 4px solid var(--alternative-color);
    color: var(--alternative-color);
    transition: .2s;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* Style Figurinha */

.controle-figurinha {}

.main-title h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 760px;
    margin-top: 3rem;
}

.lista-figurinha {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-figurinha table {
    border: 1px solid white;
    max-width: 760px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    background-color: var(--alternative-color);
    color: white;
    font-size: 20px;
    border-radius: .5rem;
}

/* hero image */

.hero-image {
    background-image: url("https://cdn.pixabay.com/photo/2013/12/12/21/48/football-stadium-227561_960_720.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Responsive */

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}