.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.card {
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0px 2px 23px #26395338;
}

.topCard {
    padding: 5px 20px;
}

.backgroundCard {
    background-color: gray;
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomCard {
    padding: 20px;
}

.titleNumeroFigurinha {
    font-size: 22px;
}

.actionsCard {
    border-radius: .5rem;
    color: red;
    text-align: center;
}

.actionsCard button {
    width: 4rem;
    background-color: white;
    border-radius: .5rem;
    cursor: pointer;
}

.actionsCard span {
    font-size: 20px;
}

.actionsCard .tenhoFigurinha:hover {
    background-color: green;
    color: white;
}

.actionsCard .faltaFigurinha:hover {
    background-color: red;
    color: white;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        margin-top: 3rem;
        height: 140vh;
    }
}